<table>
  <% @animal.animal_comments.each do |animal_comment| %>
    <% animal_comment_user = animal_comment.user %>
    <tr>
    	<td>
    		<%= link_to user_path(animal_comment_user), class: "user_#{animal_comment_user.id}" do %>
      		<%= attachment_image_tag animal_comment_user, :image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
      		<%= animal_comment_user.name %>
    		<% end %>
    	</td>
    	<td><%= animal_comment.comment %></td>
    	<% if current_user == animal_comment_user %>
      	<td><%= link_to 'Destroy', animal_animal_comment_path(animal_comment.animal_id, animal_comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
    	<% end %>
    </tr>
  <% end %>
</table>
<%= form_with model:[@animal,@animal_comment], local: true do |f| %>
  <%= f.text_area :comment, size:"90x5" %><br>
  <%= f.submit '送信'%>
<% end %>