<% if @animal.errors.any? %>
    <div id="error_explanation">
        <h3><%= @animal.errors.count %>errors prohibited this obj from being saved:</h3><br>
        <ul>
          <% @animal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
<% end %>

<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-3">
            <h2>プロフィール</h2>
            <%= render 'users/info', user: current_user %>
            <h2>New animal</h2>
            <%= render 'form', animal: @animal %>
        </div>
        <div class="col-md-8 offset-md-1">
            <h2>Animals</h2>
            <%= render 'index', animals: @animals%>
        </div>
    </div>
</div>